body {
    font-size: 16px;
}

.d-bloc {
    color: black !important;
    display: flex;
    justify-content: center;
}

.white {
    color: black !important;
}

.icon-md {
    color: black !important;
}

.btn-atomic-tangerine {
    color:black !important;
}

.hero-bloc-text {
    color:black !important;
    border : 1px solid transparent;
    border-radius: 30px;
    background-color: white;
    padding: 9px;
    width: 390px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center
}

.mg-md {
    color: black !important;
}

.ready {
    color:black !important;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.black-background {
    background-color: white;
}

.ltc-white {
    color: black !important;
    display: flex;
    justify-content: center;
    margin-top:20px;
}

p {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 500;
    color: black!important;
}

#bloc-4-portfolio img {
    width :270px;
    height:270px;
}

.navbar-header img {
    width: 217px;
}

.col-sm-12 img {
    width: 100px;
    height: 100px;
}

.tc-white {
    color: black !important;
    
}

.hero-bloc-text {
    font-size: 32px; 
}

.h1-page2 {
    margin-bottom: 30px;
}

.scrollToTop {
    opacity: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: auto;
}

.li-header {
    margin-right: 4px;
}

.image-header {
    padding-top: 7px;
}

.header-contact {
    height:93px;
}

#bloc-6 p {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: white;
    padding: 7px;
}

.bg-bloc-6 {
    background-image: url("img/agence-la-panthere.webp");
    background-position: center;
}

.adress {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.adress p {
    font-size: 20px;
}